-- vim: set filetype=lua:
-- ANSIBLE-MANAGED CONFIGURATION FILE
-- Upstream Refs: https://wezfurlong.org/wezterm/config/lua/general.html

local wezterm = require "wezterm"
local act = wezterm.action

return {

  -----------------------------------------------------------------------------
  -- CMD / SHELL
  -----------------------------------------------------------------------------

  default_prog = { "{{ shell_cmd }}" },

  -----------------------------------------------------------------------------
  -- FONTS
  -----------------------------------------------------------------------------

  font = wezterm.font "{{ font_family }}",
  font_size = {{ font_size }},
  adjust_window_size_when_changing_font_size = false,

  -----------------------------------------------------------------------------
  -- COLORS
  -----------------------------------------------------------------------------

  colors = {

    foreground = "{{ wezterm_term_colors.text.fg }}",
    background = "{{ wezterm_term_colors.background.bg }}",
    cursor_bg = "{{ wezterm_term_colors.cursor.bg }}",
    cursor_border = "{{ wezterm_term_colors.cursor.bg }}",
    cursor_fg = "{{ wezterm_term_colors.cursor.fg_text }}",
    ansi = {
      "{{ wezterm_term_colors.black.color0_dimmed }}",
      "{{ wezterm_term_colors.red.color1_dimmed }}",
      "{{ wezterm_term_colors.green.color2_dimmed }}",
      "{{ wezterm_term_colors.yellow.color3_dimmed }}",
      "{{ wezterm_term_colors.blue.color4_dimmed }}",
      "{{ wezterm_term_colors.magenta.color5_dimmed }}",
      "{{ wezterm_term_colors.cyan.color6_dimmed }}",
      "{{ wezterm_term_colors.white.color7_dimmed }}",
    },
    brights = {
      "{{ wezterm_term_colors.black.color8_bright }}",
      "{{ wezterm_term_colors.red.color9_bright }}",
      "{{ wezterm_term_colors.green.color10_bright }}",
      "{{ wezterm_term_colors.yellow.color11_bright }}",
      "{{ wezterm_term_colors.blue.color12_bright }}",
      "{{ wezterm_term_colors.magenta.color13_bright }}",
      "{{ wezterm_term_colors.cyan.color14_bright }}",
      "{{ wezterm_term_colors.white.color15_bright }}",
    },

    selection_fg = "black",
    -- the background color of selected text
    selection_bg = "#fffacd",

    -- The color of the split lines between panes
    split = "#444444",

    -- The color of the scrollbar "thumb"; the portion that represents the current viewport
    scrollbar_thumb = "#222222",
  },

  window_background_opacity = {{ wezterm_term_colors.background.opacity }},

  -----------------------------------------------------------------------------
  -- UI
  -----------------------------------------------------------------------------

  audible_bell = "{{ 'SystemBeep' if audio_bell_enable else 'Disabled' }}",

  -----------------------------------------------------------------------------
  -- QUICK-SELECT MODE
  -----------------------------------------------------------------------------

  quick_select_patterns = { "{{ quick_select_search_pattern }}" },
  quick_select_alphabet = "{{ quick_select_hint_keys }}",

  -----------------------------------------------------------------------------
  -- KEYMAPS
  -----------------------------------------------------------------------------

  -- clear all existing/default keymaps
  disable_default_key_bindings = true,

  keys = {

    -- Tabs

    { key = '{{ keymap_create_new_tab.key }}', mods = '{{ keymap_create_new_tab.mod }}', action = act.SpawnTab 'CurrentPaneDomain' },
    { key = '{{ keymap_next_tab.key }}', mods = '{{ keymap_next_tab.mod }}', action = act.ActivateTabRelative(1) },
    { key = '{{ keymap_prev_tab.key }}', mods = '{{ keymap_prev_tab.mod }}', action = act.ActivateTabRelative(-1) },
    { key = '{{ keymap_move_tab_right.key }}', mods = '{{ keymap_move_tab_right.mod }}', action = act.MoveTabRelative(1) },
    { key = '{{ keymap_move_tab_left.key }}', mods = '{{ keymap_move_tab_left.mod }}', action = act.MoveTabRelative(-1) },
    { key = '{{ keymap_kill_tab.key }}', mods = '{{ keymap_kill_tab.mod }}', action = act.CloseCurrentTab{ confirm = false } },

    -- Panes

    { key = '{{ keymap_new_horizontal_pane.key }}', mods = '{{ keymap_new_horizontal_pane.mod }}', action = act.SplitVertical{ domain = 'CurrentPaneDomain' } },
    { key = '{{ keymap_new_vertical_pane.key }}', mods = '{{ keymap_new_vertical_pane.mod }}', action = act.SplitHorizontal{ domain = 'CurrentPaneDomain' } },
    { key = '{{ keymap_switch_pane_left.key }}', mods = '{{ keymap_switch_pane_left.mod }}', action = act.ActivatePaneDirection 'Left' },
    { key = '{{ keymap_switch_pane_right.key }}', mods = '{{ keymap_switch_pane_right.mod }}', action = act.ActivatePaneDirection 'Right' },
    { key = '{{ keymap_switch_pane_above.key }}', mods = '{{ keymap_switch_pane_above.mod }}', action = act.ActivatePaneDirection 'Up' },
    { key = '{{ keymap_switch_pane_below.key }}', mods = '{{ keymap_switch_pane_below.mod }}', action = act.ActivatePaneDirection 'Down' },
    { key = '{{ keymap_toggle_pane_fullscreen.key }}', mods = '{{ keymap_toggle_pane_fullscreen.mod }}', action = act.TogglePaneZoomState },

    -- Font Sizes

    { key = '{{ keymap_inc_font_size.key }}', mods = '{{ keymap_inc_font_size.mod }}', action = act.IncreaseFontSize },
    { key = '{{ keymap_dec_font_size.key }}', mods = '{{ keymap_dec_font_size.mod }}', action = act.DecreaseFontSize },
    { key = '{{ keymap_reset_font_size.key }}', mods = '{{ keymap_reset_font_size.mod }}', action = act.ResetFontSize },

    -- Copy/Paste

    { key = '{{ keymap_copy_sel_to_clipboard.key }}', mods = '{{ keymap_copy_sel_to_clipboard.mod }}', action = act.CopyTo 'ClipboardAndPrimarySelection' },
    { key = '{{ keymap_paste_from_clipboard.key }}', mods = '{{ keymap_paste_from_clipboard.mod }}', action = act.PasteFrom 'Clipboard' },

    -- Screen And Scrollback

    { key = '{{ keymap_scrollback_page_up.key }}', mods = '{{ keymap_scrollback_page_up.mod }}', action = act.ScrollByPage(-1) },
    { key = '{{ keymap_scrollback_page_down.key }}', mods = '{{ keymap_scrollback_page_down.mod }}', action = act.ScrollByPage(1) },
    { key = '{{ keymap_scrollback_clear.key }}', mods = '{{ keymap_scrollback_clear.mod }}', action = act.ClearScrollback 'ScrollbackAndViewport' },

    -- Enter Quick-Select Mode

    { key = '{{ keymap_enter_quick_select_mode.key }}', mods = '{{ keymap_enter_quick_select_mode.mod }}', action = act.QuickSelect },

    -- Enter Search Mode

    { key = '{{ keymap_enter_search_mode.key }}', mods = '{{ keymap_enter_search_mode.mod }}', action = act.Search 'CurrentSelectionOrEmptyString' },

    -- Enter Copy Mode

    { key = '{{ keymap_enter_copy_mode.key }}', mods = '{{ keymap_enter_copy_mode.mod }}', action = act.ActivateCopyMode },

  },

  key_tables = {

    -- Keymaps In Search Mode
    search_mode = {
      { key = 'DownArrow', mods = 'NONE', action = act.CopyMode 'NextMatch' },
      { key = 'UpArrow', mods = 'NONE', action = act.CopyMode 'PriorMatch' },
      { key = 'PageUp', mods = 'NONE', action = act.CopyMode 'PriorMatchPage' },
      { key = 'PageDown', mods = 'NONE', action = act.CopyMode 'NextMatchPage' },
      { key = 'r', mods = 'CTRL', action = act.CopyMode 'CycleMatchType' },
      { key = 'f', mods = 'CTRL', action = act.CopyMode 'ClearPattern' },
      { key = 'c', mods = 'CTRL', action = act.CopyTo 'ClipboardAndPrimarySelection' },
      { key = 'Escape', mods = 'NONE', action = act.CopyMode 'Close' },
    },

    -- Keymaps In Copy Mode
    copy_mode = {
      { key = 'h', mods = 'NONE', action = act.CopyMode 'MoveLeft' },
      { key = 'j', mods = 'NONE', action = act.CopyMode 'MoveDown' },
      { key = 'k', mods = 'NONE', action = act.CopyMode 'MoveUp' },
      { key = 'l', mods = 'NONE', action = act.CopyMode 'MoveRight' },
      { key = 'w', mods = 'NONE', action = act.CopyMode 'MoveForwardWord' },
      { key = 'b', mods = 'NONE', action = act.CopyMode 'MoveBackwardWord' },
      { key = '0', mods = 'NONE', action = act.CopyMode 'MoveToStartOfLine' },
      { key = 'Enter', mods = 'NONE', action = act.CopyMode 'MoveToStartOfNextLine' },
      { key = '-', mods = 'NONE', action = act.CopyMode 'MoveToEndOfLineContent' },
      { key = 'PageUp', mods = 'NONE', action = act.CopyMode 'PageUp' },
      { key = 'PageDown', mods = 'NONE', action = act.CopyMode 'PageDown' },
      { key = 'H', mods = 'SHIFT', action = act.CopyMode 'MoveToViewportTop' },
      { key = 'M', mods = 'SHIFT', action = act.CopyMode 'MoveToViewportMiddle' },
      { key = 'L', mods = 'SHIFT', action = act.CopyMode 'MoveToViewportBottom' },
      { key = 'g', mods = 'NONE', action = act.CopyMode 'MoveToScrollbackTop' },
      { key = 'G', mods = 'SHIFT', action = act.CopyMode 'MoveToScrollbackBottom' },
      { key = 'V', mods = 'SHIFT', action = act.CopyMode{ SetSelectionMode = 'Line' } },
      { key = 'v', mods = 'NONE', action = act.CopyMode{ SetSelectionMode =  'Cell' } },
      { key = 'v', mods = 'CTRL', action = act.CopyMode{ SetSelectionMode =  'Block' } },
      { key = 'o', mods = 'NONE', action = act.CopyMode 'MoveToSelectionOtherEnd' },
      { key = 'y', mods = 'NONE', action = act.Multiple{ { CopyTo =  'ClipboardAndPrimarySelection' }, { CopyMode =  'Close' } } },
      { key = 'Escape', mods = 'NONE', action = act.CopyMode 'Close' },

    }, -- key_tables

  }, -- keys

  -----------------------------------------------------------------------------
  -- UPDATES
  -----------------------------------------------------------------------------

  -- whether to check for updates to the wezterm application
  check_for_updates = false,

} -- return

