-- vim: set filetype=lua:
-- ANSIBLE-MANAGED CONFIGURATION FILE
-- Upstream Refs: https://wezfurlong.org/wezterm/config/lua/general.html

local wezterm = require "wezterm"

return {

  -----------------------------------------------------------------------------
  -- CMD / SHELL
  -----------------------------------------------------------------------------

  default_prog = { "{{ shell_cmd }}" },

  -----------------------------------------------------------------------------
  -- FONTS
  -----------------------------------------------------------------------------

  font = wezterm.font "{{ font_family }}",
  font_size = {{ font_size }},
  adjust_window_size_when_changing_font_size = false,

  -----------------------------------------------------------------------------
  -- COLORS
  -----------------------------------------------------------------------------

  colors = {

    foreground = "{{ wezterm_term_colors.text.fg }}",
    background = "{{ wezterm_term_colors.background.bg }}",
    cursor_bg = "{{ wezterm_term_colors.cursor.bg }}",
    cursor_border = "{{ wezterm_term_colors.cursor.bg }}",
    cursor_fg = "{{ wezterm_term_colors.cursor.fg_text }}",
    ansi = {
      "{{ wezterm_term_colors.black.color0_dimmed }}",
      "{{ wezterm_term_colors.red.color1_dimmed }}",
      "{{ wezterm_term_colors.green.color2_dimmed }}",
      "{{ wezterm_term_colors.yellow.color3_dimmed }}",
      "{{ wezterm_term_colors.blue.color4_dimmed }}",
      "{{ wezterm_term_colors.magenta.color5_dimmed }}",
      "{{ wezterm_term_colors.cyan.color6_dimmed }}",
      "{{ wezterm_term_colors.white.color7_dimmed }}",
    },
    brights = {
      "{{ wezterm_term_colors.black.color8_bright }}",
      "{{ wezterm_term_colors.red.color9_bright }}",
      "{{ wezterm_term_colors.green.color10_bright }}",
      "{{ wezterm_term_colors.yellow.color11_bright }}",
      "{{ wezterm_term_colors.blue.color12_bright }}",
      "{{ wezterm_term_colors.magenta.color13_bright }}",
      "{{ wezterm_term_colors.cyan.color14_bright }}",
      "{{ wezterm_term_colors.white.color15_bright }}",
    },

    selection_fg = "black",
    -- the background color of selected text
    selection_bg = "#fffacd",

    -- The color of the split lines between panes
    split = "#444444",

    -- The color of the scrollbar "thumb"; the portion that represents the current viewport
    scrollbar_thumb = "#222222",
  },

  window_background_opacity = {{ wezterm_term_colors.background.opacity }},

  -----------------------------------------------------------------------------
  -- UI
  -----------------------------------------------------------------------------

  audible_bell = "{{ 'SystemBeep' if audio_bell_enable else 'Disabled' }}",

  -----------------------------------------------------------------------------
  -- KEYMAPS
  -----------------------------------------------------------------------------

  -- clear all existing/default keymaps
  disable_default_key_bindings = true,


  keys = {

    act = wezterm.action,

    -- Tabs

    { key = '{{ keymap_create_new_tab.key }}', mods = '{{ keymap_create_new_tab.mod }}', action = act.SpawnTab 'CurrentPaneDomain' },
    { key = '.', mods = 'CTRL', action = act.ActivateTabRelative(1) },
    { key = ',', mods = 'CTRL', action = act.ActivateTabRelative(-1) },
    { key = '>', mods = 'SHIFT|CTRL', action = act.MoveTabRelative(1) },
    { key = '<', mods = 'SHIFT|CTRL', action = act.MoveTabRelative(-1) },
    { key = 'x', mods = 'CTRL', action = act.CloseCurrentTab{ confirm = false } },

    -- Panes

    { key = 'o', mods = 'CTRL', action = act.SplitVertical{ domain = 'CurrentPaneDomain' } },
    { key = 'v', mods = 'CTRL', action = act.SplitHorizontal{ domain = 'CurrentPaneDomain' } },
    { key = 'h', mods = 'CTRL', action = act.ActivatePaneDirection 'Left' },
    { key = 'l', mods = 'CTRL', action = act.ActivatePaneDirection 'Right' },
    { key = 'k', mods = 'CTRL', action = act.ActivatePaneDirection 'Up' },
    { key = 'j', mods = 'CTRL', action = act.ActivatePaneDirection 'Down' },
    { key = 'y', mods = 'CTRL', action = act.TogglePaneZoomState },

    -- Font Sizes

    { key = '=', mods = 'CTRL', action = act.IncreaseFontSize },
    { key = '-', mods = 'CTRL', action = act.DecreaseFontSize },
    { key = '0', mods = 'CTRL', action = act.ResetFontSize },

    -- Copy/Paste
    { key = 'C', mods = 'SHIFT|CTRL', action = act.CopyTo 'ClipboardAndPrimarySelection' },
    { key = 'V', mods = 'SHIFT|CTRL', action = act.PasteFrom 'Clipboard' },

    -- Screen And Scrollback
    { key = 'PageUp', mods = 'SHIFT', action = act.ScrollByPage(-1) },
    { key = 'PageDown', mods = 'SHIFT', action = act.ScrollByPage(1) },
    { key = 'u', mods = 'CTRL', action = act.ClearScrollback 'ScrollbackAndViewport' },

    -- Quick-Select Mode?
    { key = 's', mods = 'CTRL', action = act.QuickSelect },

    -- Search Mode?

    { key = 'f', mods = 'CTRL', action = act.Search 'CurrentSelectionOrEmptyString' },

    -- Copy Mode?
    { key = 'm', mods = 'CTRL', action = act.ActivateCopyMode },

  },

  key_tables = {

    -- Keymaps In Search Mode
    search_mode = {
      { key = 'DownArrow', mods = 'NONE', action = act.CopyMode 'NextMatch' },
      { key = 'UpArrow', mods = 'NONE', action = act.CopyMode 'PriorMatch' },
      { key = 'PageUp', mods = 'NONE', action = act.CopyMode 'PriorMatchPage' },
      { key = 'PageDown', mods = 'NONE', action = act.CopyMode 'NextMatchPage' },
      { key = 'r', mods = 'CTRL', action = act.CopyMode 'CycleMatchType' },
      { key = 'f', mods = 'CTRL', action = act.CopyMode 'ClearPattern' },
      { key = 'c', mods = 'CTRL', action = act.CopyTo 'ClipboardAndPrimarySelection' },
      { key = 'Escape', mods = 'NONE', action = act.CopyMode 'Close' },
    },

    -- Keymaps In Copy Mode
    copy_mode = {
      { key = 'h', mods = 'NONE', action = act.CopyMode 'MoveLeft' },
      { key = 'j', mods = 'NONE', action = act.CopyMode 'MoveDown' },
      { key = 'k', mods = 'NONE', action = act.CopyMode 'MoveUp' },
      { key = 'l', mods = 'NONE', action = act.CopyMode 'MoveRight' },
      { key = 'w', mods = 'NONE', action = act.CopyMode 'MoveForwardWord' },
      { key = 'b', mods = 'NONE', action = act.CopyMode 'MoveBackwardWord' },
      { key = '0', mods = 'NONE', action = act.CopyMode 'MoveToStartOfLine' },
      { key = 'Enter', mods = 'NONE', action = act.CopyMode 'MoveToStartOfNextLine' },
      { key = '-', mods = 'NONE', action = act.CopyMode 'MoveToEndOfLineContent' },
      { key = 'PageUp', mods = 'NONE', action = act.CopyMode 'PageUp' },
      { key = 'PageDown', mods = 'NONE', action = act.CopyMode 'PageDown' },
      { key = 'H', mods = 'SHIFT', action = act.CopyMode 'MoveToViewportTop' },
      { key = 'M', mods = 'SHIFT', action = act.CopyMode 'MoveToViewportMiddle' },
      { key = 'L', mods = 'SHIFT', action = act.CopyMode 'MoveToViewportBottom' },
      { key = 'g', mods = 'NONE', action = act.CopyMode 'MoveToScrollbackTop' },
      { key = 'G', mods = 'SHIFT', action = act.CopyMode 'MoveToScrollbackBottom' },
      { key = 'V', mods = 'SHIFT', action = act.CopyMode{ SetSelectionMode = 'Line' } },
      { key = 'v', mods = 'NONE', action = act.CopyMode{ SetSelectionMode =  'Cell' } },
      { key = 'v', mods = 'CTRL', action = act.CopyMode{ SetSelectionMode =  'Block' } },
      { key = 'o', mods = 'NONE', action = act.CopyMode 'MoveToSelectionOtherEnd' },
      { key = 'y', mods = 'NONE', action = act.Multiple{ { CopyTo =  'ClipboardAndPrimarySelection' }, { CopyMode =  'Close' } } },
      { key = 'Escape', mods = 'NONE', action = act.CopyMode 'Close' },

    }, -- key_tables

  }, -- keys

  -----------------------------------------------------------------------------
  -- UPDATES
  -----------------------------------------------------------------------------

  -- whether to check for updates to the wezterm application
  check_for_updates = false,

} -- return

